<section>
  <%= form_for @visitor do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.text_field :email, class: 'form-control'  %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success btn-block' %>
      </div>
    </div>

  </div>
  <%= render 'error_messages', object: f.object %>
  <% end %>
</section>
