

<div class="overlay"></div>
<%= video_tag("mp4/bg.mp4", playsinline:"playsinline", autoplay:"autoplay", muted:"muted", loop:"loop") %>

<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-75">
      <div class="staticTop col-12">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1 class="mb-3">Coming Soon!</h1>
          <p class="mb-4">
            A weed diary app.<br> Smoke too much weed?<br> Smoke too little?<br> Spending too much on weed?<br> Find out with Fademe.

            <br><br>

            Document your cannabis use with a tap. Record what, when, where, how much, or even take a selfie with your bud.
            
            <br><br>

            Release date is <strong>February 2019</strong>.
            
            <br>
            
            Sign up below to be an early user of Fademe.
          </p>
          <%= render "subscription" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="social-icons">
  <ul class="list-unstyled text-center mb-0">
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div> -->
