

<div class="overlay"></div>
<%= video_tag("mp4/bg.mp4", playsinline:"playsinline", autoplay:"autoplay", muted:"muted", loop:"loop") %>

<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="masthead-content text-white py-5 py-md-0">
          <h1 class="mb-3">Coming Soon!</h1>
          <p class="mb-5">
            Easily record when you used and how much. Cannabis users. This is for you.
            <br><br>
            We're still making this app. Target date is <strong>February 2019</strong>. Please sign-up below to be an early user of fademe!</p>
          <div class="input-group input-group-newsletter">
            <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">Notify Me!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-icons">
  <ul class="list-unstyled text-center mb-0">
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-unstyled-item">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
